
.main{
    display: flex;
    flex-direction: column;
}
.container{
    margin:10px;
    width: 1000px;
    height: 450px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2);
}
.content-row{
    display: flex;
}
.content-row > .content{
    width:50%;
    margin-top:130px;
    margin-left:30px;

}
.content > h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    margin:5px;
}
content p{
    text-align: justify;
    font-size:18px;
    width:360px;
}
.content-row > .content-image{
    flex-basis: 50%;
    height:400px;
}
.content-image > img{
    flex-basis: 50%;
    height:400px;
}
.conversation-row{
    display:flex;
}
.conversation{
    margin-top:130px;
    width: 400px;
}
.conversation-row > .image{
    width: 500px;
    
    height:400px;
}
.image > img{
    width: 450px;
    height:400px;
}
.conversation > h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    margin:5px;
}
.conversation > p{
    text-align: justify;
    font-size:18px;
    width:360px;
}
.user-row{
    display: flex;
}
.users{
    width: 450px;
    margin-top:130px;
    margin-left: 50px;
    
}
.user-image{
    width:500px;
    margin:5px;
}
.user-image > img{
    width: 450px;
    
}
.users > h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    margin:5px;
}
.users p{
    text-align: justify;
    font-size:18px;
    width:360px;
}


@media screen and (max-width:375px) {
    .main-container{
        display:fle;
        flex-direction: column;
        width: 375px;
        margin-top:300px;
        position:relative;
    }
    .container{
        
        margin-top:30px;
        margin-right: 0px;
        margin-left: 50px;
        width: 350px;
        height: 600px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        
        box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2);
    }
    .content-row{
        display: flex;
        flex-direction:column;
        height:650px;

    }
    .content-row > .content{
        width:350px;
        position:absolute;
        top:250px;
        right:26px;
        left:10px;
         }
    .content > h1{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 25px;
        margin:5px;
        text-align: center;
    
        width:350px;
    }
    .content p{
        text-align: center;
        font-size:18px;
        margin-left:30px;
        width:300px;
        text-align: center;
    }
    .content-row > .content-image{
        width: 100%;
        
    }
    .content-image > img{
           width: 280px;
            height:250px;
            margin-top:30px;
            margin-left:10px;
        
        
    }

    .conversation-row{
        display:flex;
        flex-direction: column;
    }
    .conversation{
        margin-top:5px;
        width: 300px;
        margin-left: 20px;
    }
    .conversation-row > .image{
        width: 300px;
        
        height:400px;
    }
    .image > img{
        width: 350px;
        height:300px;
        margin-left:30px;
        margin-top:10px;
    }
    .conversation > h1{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 25px;
        margin:5px;
        text-align: center;
    }
    .conversation > p{
        text-align: center;
        font-size:18px;
        width:260px;
    }
     
    .user-row{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .users{
        margin-top:20px;

        
    }
    .user-image{
        width:300px;
        margin:5px;
    }
    .user-image > img{
        width: 250px;
        margin-left: 30px;
        
    }
    .users > h1{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 25px;
        margin:5px;
        width:300px;
        text-align: center;
        
    }
    .users p{
        text-align: center;
        font-size:16px;
        margin-left: 34px;
        width:300px;
        margin-bottom:30px;
    }
    
    
    
}