
@media  screen  and (max-width:475px) {
    .nav{
        display: flex;
        flex-direction: column;
        width: 475px;
        margin-bottom:0;
        
        
 }
    .nav > .navCol-1{
      width:475px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      margin-top:-20px;
    
    }
    .navCol-1 > h1{
      
        font-size: 30px;
        text-transform: capitalize;
        font-weight:600px;
        width:350px;
        margin-left:10px;
        margin-top:10px;
    
    
    } .navCol-1 > P{
        margin-top:0px;
        width: 400px;
        background-color: red;
        padding:30px;
        text-align: center;
        font-size:25px;
        background:white;
        padding:30px;
        font-weight: 400px;
    }
      
    .navCol-1 > .btn{
        background-color:hsl(322, 100%, 66%);
        padding:10px;
        margin-right:60px;
        text-align: center;
        height: 40px;
        line-height: 20px;
        border-radius:15px;
        border:none;
        color: white;
        
        font-size:24px;
        position: relative;
        
         } 
         .navCol-1 > .btn :hover{
            cursor:pointer;
            background-color: aqua;
            
         }              
         .navCol-2{
            width: 475px;
            position:relative;
        top:0;
        bottom:0;
        
            
         }
    .navCol-2 > img{
        width: 400px;
        margin-left:10px;
        height: 300px;
        
        bottom: 180px;
        left:100px;
        top:30px;
        
    }
}